*{
    margin: 0;
    border: 0;
    padding: 2px;
}
.sectionSocNet{
    position: relative;
    padding: 0 5px;
}
.sectionForm{
    background-image: url(imagenes/notasVolando.jpg);
    font-size: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: white;
    position: relative;
    height: 400px;
}
.sectionForm div{
    width: 50%;
}
.sectionForm div img {
    width: 10%;
    position: absolute;
    top: 10px;
    left: 10px;
}	
.sectionForm div p {
    width: 100%;
    font-size: 12px;
    position: absolute;
    top: 60px;
    left: 15px;
}	
.sectionForm div form{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 10px;
    right: 10px;
}
.sectionForm div form input{
    width: 150px;
    border: 1px solid black;
    border-radius: 4px;
    margin-right: 5px;
}
.sectionForm div form input::placeholder{
    text-align: left;
    padding-left: 5px;
}
.login{
    background-color: rgb(57, 6, 176);
    color: white;
    width: 80px;
}
.sectionProfile{
    background-color: yellow;
}
.sectionEduc{
    background-color: rgb(38, 239, 72);
}
.sectionExpLab{
    background-color: rgb(233, 49, 160);
    margin: 5px auto;
}
.sectionSkills{
    background-color: rgb(216, 142, 38);
}
.sectionProyectos{
    background-color: rgb(240, 47, 47);
}
.socialNetworks{
    position: absolute;
    top: 0;
    right: 5px;
}
.button{
    border: 1px solid black;
    border-radius: 4px;
    background-color: rgb(57, 6, 176);
    color: white;
    padding: 2px 5px;
}
.socialNetworks a{
   color:rgb(57, 6, 176);
}